* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fileBarTop {
    background-color: rgb(8, 113, 148);
    color: aliceblue;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fileBarTop h1 {
    margin-right: 2%;
}

.fileBarBottom {
    background-color: rgb(8, 113, 148);
    width: 100vw;
    height: 3vh;
    position: relative;
}

.fileBarButton {
    width: 6vh;
    height: 100%;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(8, 113, 148);
    border: none;
    cursor: pointer;
}

.fileBarButton:hover {
    background-color: rgb(38, 166, 209);
}

.activeFileBarButton {
    width: 6vh;
    height: 100%;
    font-size: 20px;
    color: rgb(38, 166, 209);
    background-color: white;
    border: none;
    cursor: pointer;
}