* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fileBarTop {
    background-color: rgb(8, 113, 148);
    width: 100vw;
    height: 5vh;
}

.fileBarBottom {
    background-color: rgb(8, 113, 148);
    width: 100vw;
    height: 3vh;
    position: relative;
}

.fileBarButton {
    width: 5vh;
    height: 100%;
    color: aliceblue;
    background-color: rgb(8, 113, 148);
    border: none;
    cursor: pointer;
}

.fileBarButton:hover {
    background-color: rgb(38, 166, 209);
}