* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fileBarTop {
    background-color: rgb(8, 113, 148);
    color: aliceblue;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fileBarTop h1 {
    margin-right: 2%;
}

.fileBarBottom {
    background-color: rgb(8, 113, 148);
    width: 100vw;
    height: 3vh;
    position: relative;
}

.fileBarButton {
    width: 6vh;
    height: 100%;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(8, 113, 148);
    border: none;
    cursor: pointer;
}

.fileBarButton:hover {
    background-color: rgb(38, 166, 209);
}

.activeFileBarButton {
    width: 6vh;
    height: 100%;
    font-size: 20px;
    color: rgb(38, 166, 209);
    background-color: rgb(253, 248, 248);
    border: none;
    cursor: pointer;
}

.editBody {
    flex: 1;
}

#firstTextAreaOnTopRow {
    height: 2.75vh;
    width: 2vw;
    font-size: 20px;
    resize: none;
    margin: 0;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    background-color: rgb(253, 248, 248);
}

.textAreaTopRow {
    height: 2.75vh;
    width: 4.083vw;
    font-size: 20px;
    resize: none;
    margin: 0;
    border-radius: 5px;
    border: black solid 1px;
    text-align: center;
    transition: border-color 0.3s;
}

.textAreaTopRow:focus {
    border: blue solid 1px;
    outline: none;
}

.footer {
    bottom: 0;
    left: 0;
}

.footerTop {
    background-color: gainsboro;
    color: aliceblue;
    width: 100vw;
    height: 5vh;
    border-top: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerBottom {
    background-color: rgb(253, 248, 248);
    width: 100vw;
    height: 3vh;
    border-top: solid black 1px;
    position: relative;
}